# Altium Designer Library Ignore File

# History/Backup folders
History/
__Previews/

# Lock files and temporary files
*.lck
*.htm
*.zip
*.rar
*.7z
*.WAS
*.REP
*.DRR
*.bak
*.bac

# Ignore subversion and git system folders
.svn/
.git/

# User specific ignores
Project Outputs*/
Test Library/
Altium System Library/

# Ignore everything in AltiumLL except SamacSys.*
AltiumLL/*
!AltiumLL/SamacSys.*
